<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>

	<body>
		<form method="post" action="create_post">
			
			<label for="title">Title</label>
			<input id="title", type="text" name="title">
			<br /> <br />

			<label for="body">Body</label>
			<textarea id="body", name="body"></textarea>
			<br /> <br />

			<label for="author">Author</label>
			<input id="author" type="text" name="author">
			<br /> <br />

			<input type="submit" value="Create post">

		</form>
		<br />
		<a href="/list_posts">Posts index</a>
	</body>

</html>